body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


.headline-title {
    position: absolute;
    top: 8px;
    left: 16px;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
}
.outer-wrapper {
    width: 500vw;
    height: 100vh;
    display: flex;
    transform: rotate(-90deg), translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg), translateY(-100vh);
    transform-origin: top left;
}
.one {
}
.two {
}
.three {
}
.four {
}
.five {
}
.headline {
    position: absolute;
    bottom: 15%;
    margin-left: 20px;
    text-align: left;
}
.instruct-use {
    position: absolute;
    color: white;
    bottom: 10%;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
}


#nuenen_card {
    display: flex;
    flex-direction: column;
    position: absolute;
     top: 17%;
     right: 12%;
     width: auto;
     max-width: 600px;
     height: auto;
     max-height: 700px;
}

#nuenen_card > img {
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 600px;
    display: flex; 
}
#nuenen_card > div {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 320px;
}

.text-nuenen {
    position: absolute;
    top: 3%;
    left: 5%;
}

#paris_card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    right: 12%;
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 600px;
}
#paris_card > img {
    width: auto;
    max-width: 450px;
    height: auto;
    max-height: 550px;
    display: flex;
}
#paris_card > div {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 320px;
}

.text-paris {
    position: absolute;
    top: 3%;
    left: 5%;
}

#arles_card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    right: 12%;
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 700px;
}
#arles_card > img {
    width: auto;
    max-width: 450px;
    height: auto;
    max-height: 550px;
    display: flex;
}
#arles_card > div {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 320px;
}

.text-arles {
    position: absolute;
    top: 3%;
    left: 5%;
}

#stremy_card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    right: 12%;
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 700px;
}
#stremy_card img {
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 600px;
    display: flex;
}
#stremy_card > div {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 320px;
}
.text-stremyoise {
    position: absolute;
    top: 3%;
    left: 5%;
}

/* NAVIGATION */

nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.nav-list {
    list-style-type: none;
}
.nav-back {
    color: white;
    position: absolute;
    top: 6%;
    text-decoration: none;
    right: 12%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.nav-item {
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 15px;
    font-size: 19px;
    font-weight: 500;
}

#nuenen_slide {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    margin: 0;
}
#paris_slide {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    margin: 0;
}
#arles_slide {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    margin: 0;
}
#stremyoise_slide {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    margin: 0;
}
#background-slide {
    width: 100vw;
    height: 100vh;
}

.bio-paragraph-cont {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    width: 40vw;
    height: 20vh;
}

.alt-slides {
    margin: 0;
    filter: blur(0.9px);
}

.carousel-dir-nue {
    display: flex;
   position: absolute;
   top: 11%;
   right: 13.5%;
}
.carousel-dir-par {
    display: flex;
   position: absolute;
   top: 11%;
   right: 11.6%;
}
.carousel-dir-arl {
    display: flex;
   position: absolute;
   top: 11%;
   right: 11.7%;
}
.carousel-dir-rem {
    display: flex;
   position: absolute;
   top: 11%;
   right: 13.5%;
}
.box:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-30px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1) translateY(-7px); }
    64%  { transform: scale(1,1) translateY(0); }
    100% { transform: scale(1,1) translateY(0); }
}

.arrow {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}


/* STAR ANIMATION */

@keyframes glow {
    from {
      box-shadow: 0 0 2px white, 0 0 3px white, 
      0 0 4px lightyellow, 0 0 5px 0px rgb(236, 178, 69), 
      0 0 5px 0px orange, 0 0 8px 0px orange, 
      0 0 12px 0px yellow, 0 0 20px 0px yellow, 
      0 0 30px 0px lightyellow, 0 0 40px 0px lightyellow, 
      0 0 50px 0px white, 0 0 60px 0px white, 
      0 0 80px white, 0 0 100px white;
    }
    to {
      box-shadow: 0 0 2px white, 0 0 3px white, 
      0 0 4px lightyellow, 0 0 5px 3px rgb(236, 178, 69), 
      0 0 5px 3px orange, 0 0 8px 3px orange, 
      0 0 12px 3px yellow, 0 0 20px 3px yellow, 
      0 0 30px 3px lightyellow, 0 0 40px 3px lightyellow, 
      0 0 50px 3px white, 0 0 60px 3px white, 
      0 0 80px white, 0 0 100px white;
    }
  }
  .nuenen-star {
    position: absolute;
    top: 4.7%;
    left: 10.5%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .paris-star {
    position: absolute;
    top: 19.5%;
    left: 23.4%;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .arles-star {
        position: absolute;
        top: 9.4%;
        right: 38.6%;
        width: 12px;
        height: 12px;
        background: white;
        border-radius: 100%;
        animation-name: glow;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
  }

  .stremyoise-star {
    position: absolute;
    top: 26.3%;
    right: 29%;
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .slider {
    width: 400px;
    height: auto;
    overflow-x: scroll;
    overflow-y: auto;
  }

  .sliders {
    width: auto;
    height: auto;
    max-height: 700px;
    flex-shrink: 0;
    display: flex;
  }


  


  

  

  
 
 
  

  

  
  
  











  


  




