body, html {
    width: auto;
    height: auto;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* display: flex; */
}


.headline-title {
    position: absolute;
    top: 8px;
    left: 16px;
}

.slide {
    width: 100vw;
    height: 100vh;
}
.outer-wrapper {
    width: 500vw;
    height: 100vh;
    display: flex;
    transform: rotate(-90deg), translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg), translateY(-100vh);
    transform-origin: top left;
}

.one {
    position: relative;
    color: white;
}

.two {
    color: white;
    position: relative;
}
.three {
    color: white;
    position: relative;
}
.four {
    color: white;
    position: relative;
}
.five {
    color: white;
    position: relative;
}

.headline {
    position: absolute;
    bottom: 15%;
    margin-left: 20px;
    text-align: left;
}
.instruct-use {
    position: absolute;
    color: white;
    bottom: 10%;
    font-size: 20px;
    margin-left: 20px;
}

#nuenen_card {
    display: flex;
    flex-direction: row;
    position: absolute;
     top: 30%;
     right: 20%;
     width: 40vw;
     height: 40vh;
}
#nuenen_card img {
    width: 400px;
    height: 350px;
    position: relative;
}

.nuenen-container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
.text-nuenen {
    position: absolute;
    top: 8px;
    left: 16px;
}

#paris_card {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    right: 20%;
    width: 40vw;
    height: 40vh;
}
#paris_card img {
    width: 350px;
    height: 350px;
}
.text-paris {
    position: absolute;
    top: 8px;
}
#arles_card {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    right: 20%;
    width: 40vw;
    height: 40vh;
}
#arles_card img {
    width: 350px;
    height: 350px;
}
.text-arles {
    position: absolute;
    top: 8px;
}

#stremy_card {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    right: 20%;
    width: 40vw;
    height: 40vh;
}
#stremy_card img {
    width: 350px;
    height: 350px;
}
.text-stremyoise {
    position: absolute;
    top: 8px;
}

/* NAVIGATION */

nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.nav-list {
    list-style-type: none;
}
.nav-item {
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 10px;
    font-size: 17px;
}

#nuenen_slide {
    scroll-behavior: smooth;
    margin: 0;
}
#paris_slide {
    scroll-behavior: smooth;
    margin: 0;
}
#arles_slide {
    scroll-behavior: smooth;
    margin: 0;
}
#stremyoise_slide {
    scroll-behavior: smooth;
    margin: 0;
}
#background-slide {
    width: 100vw;
    height: 100vh;
    
}

/* STAR ANIMATION */

@keyframes glow {
    from {
      box-shadow: 0 0 2px white, 0 0 3px white, 
      0 0 4px lightyellow, 0 0 5px 0px rgb(236, 178, 69), 
      0 0 5px 0px orange, 0 0 8px 0px orange, 
      0 0 12px 0px yellow, 0 0 20px 0px yellow, 
      0 0 30px 0px lightyellow, 0 0 40px 0px lightyellow, 
      0 0 50px 0px white, 0 0 60px 0px white, 
      0 0 80px white, 0 0 100px white;
    }
    to {
      box-shadow: 0 0 2px white, 0 0 3px white, 
      0 0 4px lightyellow, 0 0 5px 3px rgb(236, 178, 69), 
      0 0 5px 3px orange, 0 0 8px 3px orange, 
      0 0 12px 3px yellow, 0 0 20px 3px yellow, 
      0 0 30px 3px lightyellow, 0 0 40px 3px lightyellow, 
      0 0 50px 3px white, 0 0 60px 3px white, 
      0 0 80px white, 0 0 100px white;
    }
  }
  .nuenen-star {
    position: absolute;
    top: 4%;
    left: 11%;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .paris-star {
    position: absolute;
    top: 18%;
    left: 24%;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .arles-star {
        position: absolute;
        top: 9%;
        right: 38%;
        width: 9px;
        height: 9px;
        background: white;
        border-radius: 100%;
        animation-name: glow;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
  }

  .stremyoise-star {
    position: absolute;
    top: 23%;
    right: 29%;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .slider {
    width: 400vw;
    height: 400vh;
    display: flex;
    overflow-x: auto;
  }

  .sliders {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }









  


  




