body, html {
    width: auto;
    height: auto;
    margin: 0;
}
#background {
    /* position: absolute; */
}

.headline-title {
    /* position: absolute; */
    top: 8px;
    left: 16px;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg), translateY(-100vh);
    transform-origin: top left;
}

.one {
    position: relative;
    color: white;

}

.two {
    background-color: red;
}
.three {
    background-color: blue;
}
.four {
    background-color: purple;
}
.five {
    background-color: grey;
}

.outer-wrapper {
    width: 400vw;
    height: 100vh;
    transform: rotate(-90deg), translateY(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.headline {
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: right;
}



