body,html {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}
#background {
    position: absolute;
}

#root {
    position: relative;
    text-align: center;
}
.headline-title {
    position: absolute;
    top: 8px;
    left: 16px;
}

